[Desktop Entry]
Type=Application
Name=Friends
Icon=harbour-friends
Exec=harbour-friends
X-Nemo-Application-Type=silica-qt5
Comment=Friends Facebook client


# Translations
Comment[zh_CN]=Friends Facebook 客户端
Name[zh_CN]=Friends
Icon[zh_CN]=harbour-friends
Comment[ru]=Facebook клиент Friends
Name[ru]=Friends
Icon[ru]=harbour-friends
Comment[nl_NL]=Friends Facebookapplicatie
Name[nl_NL]=Friends
Icon[nl_NL]=harbour-friends
Comment[ca]=Client de Facebook Friends
Name[ca]=Friends
Icon[ca]=harbour-friends
Comment[cs]=Friends Facebook klient
Name[cs]=Friends
Icon[cs]=harbour-friends
Comment[pt_PT]=Friends aplicação para o Facebook
Name[pt_PT]=Friends
Icon[pt_PT]=harbour-friends
Comment[de]=Friends Facebook App
Name[de]=Friends
Icon[de]=harbour-friends
Comment[es_ES]=Cliente de Facebook Friends
Name[es_ES]=Friends
Icon[es_ES]=harbour-friends
Comment[el]=Πρόγραμμα-πελάτης Friends του Facebook
Name[el]=Friends
Icon[el]=harbour-friends
Comment[en]=Friends Facebook client
Name[en]=Friends
Icon[en]=harbour-friends
Comment[hu_HU]=Friends Facebook kliens
Name[hu_HU]=Friends
Icon[hu_HU]=harbour-friends
Comment[nb_NO]=Friends Facebook klient
Name[nb_NO]=Friends
Icon[nb_NO]=harbour-friends
Comment[it_IT]=Friends applicazione Facebook
Name[it_IT]=Friends
Icon[it_IT]=harbour-friends
Comment[af_ZA]=Vriende Facebook klient
Name[af_ZA]=Vriende
Comment[fi]=Friends Facebook sovellus
Name[fi]=Friends
Icon[fi]=harbour-friends
Comment[fr]=Client Facebook Friends
Name[fr]=Friends
Icon[fr]=harbour-friends
Comment[zh_HK]=Friends Facebook 客戶端
Name[zh_HK]=Friends
Icon[zh_HK]=habour-friends
